<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.imbaggaarm.auto-sync-zshrc</string>
        <key>ServiceDescription</key>
        <string>Auto sync zsh configs to git repository</string>
        <key>ProgramArguments</key>
        <array>
            <string>zsh</string>
            <string>-c</string>
            <string>/Users/eastagile/code/zsh-backup/sync_zshrc.sh</string>
        </array>
        <key>StandardOutPath</key>
        <string>/Users/eastagile/tmp/com.imbaggaarm.sync-zshrc.stdout</string>
        <key>StandardErrorPath</key>
        <string>/Users/eastagile/tmp/com.imbaggaarm.sync-zshrc.stderr</string>
        <key>WorkingDirectory</key>
        <string>/Users/eastagile/code/zsh-backup</string>
        <key>KeepAlive</key>
        <true/>
     </dict>
  </plist>
